# Airbnb Open Data
The following notebook contains a thorough preparation, cleansing and analysis of Airbnb data from Kaggle. Through this notebook I aim to answer the following questions: 

* What features do customers look for in Airbnbs? 
* What locations attract more customers and why ? 
* How do descriptions and ratings affect the traffic ?

Below is a list of the imports required to run this notebook

In [46]:
import pandas as pd

In [64]:
df=pd.read_csv("Airbnb_Open_Data.csv",dtype=object)

In [53]:
df=df.drop(["license"], axis=1)
df.shape

(102599, 25)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  object
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  object
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  object
 8   long                            102591 non-null  object
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  object
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  object
 18  number of reviews               102416 non-null  object
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   object
 21  review rate number              102273 non-null  object
 22  calculated host listings count  102280 non-null  object
 23  availability 365                102151 non-null  object
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: object(26)
memory usage: 20.4+ MB

In [81]:
df.describe()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
count,102599,102349,102599,102310,102193,102570,102583,102591,102591,102067,...,102326,102190,102416,86706,86720,102273,102280,102151,50468,2
unique,102058,61281,102057,2,13190,7,224,21991,17774,1,...,231,153,476,2477,1016,5,78,438,1976,1
top,35607902,Home away from home,7431680152,unconfirmed,Michael,Manhattan,Bedford-Stuyvesant,40.76411,-73.99371,United States,...,$41,1,0,6/23/2019,0.03,5,1,0,#NAME?,41662/AL
freq,2,33,2,51200,881,43792,7937,36,44,102067,...,526,25421,15734,2443,1666,23369,63429,23544,2712,2